.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
  /* background-color: var(--white); */
}

@media only screen and (max-width: 75em) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
.card-container .card {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-container .card__header {
  position: relative;
}
.card-container .card__picture {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  height: 22rem;
}
.card-container .card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.card-container .card__picture-overlay-orange {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(var(--secondary-light)),
    to(var(--secondary-dark))
  );
  background-image: linear-gradient(
    to right bottom,
    var(--secondary-light),
    var(--secondary-dark)
  );
}
.card-container .card__picture-overlay-blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(var(--tertiary-light)),
    to(var(--tertiary-dark))
  );
  background-image: linear-gradient(
    to right bottom,
    var(--tertiary-light),
    var(--tertiary-dark)
  );
}
.card-container .card__picture-overlay-green {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(var(--primary-light)),
    to(var(--primary))
  );
  background-image: linear-gradient(
    to right bottom,
    var(--primary-light),
    var(--primary)
  );
}

.card__heading-span--orange {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 185, 0, 0.85)),
    to(rgba(255, 119, 48, 0.85))
  );
  background-image: linear-gradient(
    to right bottom,
    rgba(248, 168, 125, 0.85),
    rgba(255, 119, 48, 0.85)
  );
  width: 80%;
}

.card__heading-span--green {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgb(121, 220, 187 85)),
    to(rgba(40, 180, 133, 0.85))
  );
  background-image: linear-gradient(
    to right bottom,
    rgba(121, 220, 187, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}

.card__heading-span--blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(119, 191, 247, 0.85)),
    to(rgba(86, 67, 250, 0.85))
  );
  background-image: linear-gradient(
    to right bottom,
    rgba(119, 191, 247, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}
/* (edited)  */
.card-container .card__picture-img {
  -o-object-fit: cover;
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .card-container .card__picture-img {
    object-position: center;
  }
}
.card-container .card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 2rem;
  padding: 2.5rem 3rem;
}
.card-container .card__sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
}
.card-container .card__text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}
.card-container .card__data {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card-container .card__data svg {
  margin-right: 0.7rem;
}
.card-container .card__icon {
  height: 2rem;
  width: 2rem;
  fill: #55c57a;
}
.card-container .card__footer {
  background-color: #f7f7f7;
  padding: 2.5rem 3rem;
  border-top: 1px solid #f1f1f1;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: auto;
}
.card-container .card__footer-value {
  font-weight: 700;
}
.card-container .card__footer-text {
  color: #999;
}
.card-container .card__ratings {
  grid-row: 2 / 3;
}
.card-container .card .btn-small,
.card-container .card .btn {
  grid-row: 1 / 3;
  justify-self: end;
  -ms-flex-item-align: center;
  align-self: center;
}

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.form__upload + label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
