footer.footer
    .footer__navigation
        ul.footer__list
            li.footer__item
                a.footer__link(href='/about')
                    | About us
            li.footer__item
                a.footer__link(href='/about/#policy')
                    | Policy
            li.footer__item
                a.footer__link(href='/overview/signup')
                    | Register
        ul.social-media
            li
                a(href='https://www.instagram.com/' target='_blank' rel='noreferrer')
                    img.social-icon(src='/img/insta.svg' alt='insta')
            li
                a(href='https://www.facebook.com' target='_blank' rel='noreferrer')
                    img.social-icon(src='/img/facebook.svg' alt='facebook')
            li
                a(href='https://www.twitter.com' target='_blank' rel='noreferrer')
                    img.social-icon(src='/img/twitter.svg' alt='twitter')
    .footer__logo-box
        a(href='#')
            img.footer__logo(alt='Full logo' src='/img/logo-footer.svg')
    .footer__copyright
        | Created by
        a.footer__link(href='https://www.linkedin.com/in/jelena-mayer-03139a225/' target='_blank' rel='noreferrer')
            | Jelena,
        a.footer__link(href='https://www.linkedin.com/in/emad-h-soltan-9a773595/' target='_blank' rel='noreferrer')
            | Emad,
        a.footer__link(href='#' target='_blank' rel='noreferrer')
            | Mathias,
        a.footer__link(href='https://www.linkedin.com/in/m-olfatee/' target='_blank' rel='noreferrer')
            | Mohammad,
        a.footer__link(href='#' target='_blank' rel='noreferrer')
            | Arta
        span.jt-copyright
            | &copy;JEMMA-TOURS 2022