section.lp-section-stories
    .bg-video
        video.bg-video__content(autoplay='' muted='' loop='')
            source(src='/img/stories-bkg-vid.mp4' type='video/mp4')
            source(src='/img/stories-bkg-vid.webm' type='video/webm')
            |           Your browser is not supported!
    .u-center-text.u-margin-bottom-big
        h2.heading-secondary Your next happy memory starts now!
    //- === STORY 1 ======
    .row
        .story
            figure.story__shape
                img.story__img(src='/img/story-girl.svg' alt='Person on a tour')
                figcaption.story__caption Jean-Louise Finch
            .story__text
                h3.heading-tertiary.u-margin-bottom-small
                    | Unforgetable!
                h4 Jean-Louise Finch
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    | Aperiam, ipsum sapiente aspernatur libero repellat quis
                    | consequatur ducimus quam nisi exercitationem omnis earum qui.
                    | Aperiam, ipsum sapiente aspernatur libero repellat quis
                    | consequatur ducimus quam nisi exercitationem omnis earum qui.
    //- ==== STORY 2 =====
    .row
        .story
            figure.story__shape
                img.story__img(src='/img/story-guy.svg' alt='Person on a tour')
                figcaption.story__caption
                    | Arthur &quot;Boo&quot; Radley
            .story__text
                h3.heading-tertiary.u-margin-bottom-small
                    | WOW! I really needed that !
                h4 Arthur &quot;Boo&quot; Radley
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    | Aperiam, ipsum sapiente aspernatur libero repellat quis
                    | consequatur ducimus quam nisi exercitationem omnis earum qui.
                    | Aperiam, ipsum sapiente aspernatur libero repellat quis
                    | consequatur ducimus quam nisi exercitationem omnis earum qui.
