section.lp-hero
    .lp-hero__text-box
        h4.lp-heading-primary
            span.heading-primary--sub Welcome to 
            span.heading-primary--main  JEMMA TOURS
            span.heading-primary--sub
                | Your outdoor Adventure starts here
        a.btn.btn--green.btn--animated(href='#lp-section-tours')
            | Explore Tours
