section.lp-section-about
  .u-center-text.about-title
    h2.lp-section-about-title Get in touch with Nature
  .row
    .col-1-of-2
      h3.heading-tertiary.u-margin-bottom-small.about-secondary
        | Find your peace of mind
      p.paragraph
        | Getting into nature &amp; experiencing the wonders of being away from
        | our daily life typically improve your mental and physical health
        | alike.
      h3.heading-tertiary.u-margin-bottom-small.about-secondary
        | Make new memories
      p.paragraph
        | With our outdoor experience &amp; adventures, you have the chance to
        | live &amp; re-live your wildest dreams. Get in touch with your inner
        | self &amp; have beautiful memories forever.
      a.btn-text(href='#lp-section-tours')  Learn more 
    .col-1-of-2
      .lp-composition
        img.lp-composition__photo.lp-composition__photo--p1(alt='Photo 1' src='./img/sea1.svg')
        img.lp-composition__photo.lp-composition__photo--p2(alt='Photo 2' src='./img/forest1.svg')
        img.lp-composition__photo.lp-composition__photo--p3(alt='Photo 3' src='./img/snow-hike3.svg')
