section.lp-section-features
    .lp-section-grid
        .col-1-of-4
            .lp-feature-box
                img.lp-feature-box__icon(src='/img/nature.svg')
                h3.heading-tertiary.u-margin-bottom-small
                    | Meet Nature
                p.lp-feature-box__text
                    | Get in touch with our beautiful nature, go somehwere where you
                    | can hear your inner thoughts &amp; care for the peace &amp; beauty of
                    | the world.
        .col-1-of-4
            .lp-feature-box
                img.lp-feature-box__icon(src='/img/reset.svg')
                h3.heading-tertiary.u-margin-bottom-small Reset it
                p.lp-feature-box__text
                    | Leave all your troubles, heavy loads &amp; luggage behind. Reset
                    | your mind &amp; stop all the distractions, you will come back a lot
                    | lighter than when you started off.
        .col-1-of-4
            .lp-feature-box
                img.lp-feature-box__icon(src='/img/joy.svg')
                h3.heading-tertiary.u-margin-bottom-small your Joy
                p.lp-feature-box__text
                    | Find your joy in the purity of nature. Be it under a sea, atop
                    | the mountains or in a beautiful forest hike. You are always in
                    | control of your own happiness.
        .col-1-of-4
            .lp-feature-box
                img.lp-feature-box__icon(src='/img/healthy.svg')
                h3.heading-tertiary.u-margin-bottom-small
                    | Live Healthy
                p.lp-feature-box__text
                    | Mind, Body &amp; Soul. It is medically proven that our mental health
                    | level improves while spending time in nature. As well as
                    | countless physical health benefits.
