extends base

block content 
    main.main
        .about-page
            section.section-header
                .header__hero
                    .header__hero-overlay &nbsp;
                    img.header__hero-img(src='/img/about-hero1.svg')
                .heading-box
                    h1.heading-primary
                        span  JEMMA&apos;s Story
                    .heading-box__group
                        .heading-box__detail
                            span.heading-box__text  Body, Mind &amp; Soul
            section.section-description
                .overview-box
                    div
                        .overview-box__group
                            h2.heading-secondary.ma-bt-lg Our team
                            .overview-box__detail
                                img(src='/img/IMG_5284.jpg' alt='jelena')
                                span.overview-box__label Jelena Mayer
                                span.overview-box__text
                                    | Frontend Developer
                                    br
                                    | Hanover, DE
                            .overview-box__detail
                                img(src='/img/em.svg' alt='emad')
                                span.overview-box__label Emad Soltan
                                span.overview-box__text
                                    | Frontend Developer
                                    br
                                    | Berlin, DE
                            .overview-box__detail
                                img(src='/img/Mohammad.svg' alt='m olfatee')
                                span.overview-box__label Mohammad Olfatee
                                span.overview-box__text
                                    | Full Stack Developer
                                    br
                                    | Mettmann, DE
                            .overview-box__detail
                                img(src='/img/Mathias.svg' alt='')
                                span.overview-box__label Mathias Albrecht
                                span.overview-box__text
                                    | Full Stack Developer
                                    br
                                    | Leipzig, DE
                .description-box
                    h2.heading-secondary.ma-bt-lg About us
                    p
                        | We hope to enable people to connect with local professional
                        | outdoor tour guides in the US and organize outdoor activities in
                        | the US natural parks.
                    p
                        | The idea came to us since we have all been affected by the last
                        | couple of years situation with Corona and how we learned the hard
                        | way to appreciate the things we took for granted before. We
                        | figured after staying at home for over two years we would rather
                        | be in nature, sleep in our tents and walk off the face of earth
                        | and remember how simple it used to be.
                    h4 Our tours are all in nature,
                    p
                        | be it a long camping trip, sea voyage or winter activities so you
                        | will enjoy nature in all its shapes and seasons. You can take up a
                        | mountain hike, experience the wonders under-sea or do winter
                        | activities so you will enjoy nature in all its shapes and seasons.
                        | And you can be sure you&rsquo;d be happier and more present on your way
                        | back.
                    h4 Enjoy the benefits of being outdoor
                    p
                        | It is proven that going into nature and having a touch with the
                        | outdoor will not only enhance our physical health but also most
                        | importantly, our mental health.
                    h4 We hope to raise environmental awareness
                    p
                        | We like this planet, and it is the only one we have, we hoped that
                        | taking more people to see the wonders of nature would make them go
                        | back more aware of what we have at stake. So we could do better,
                        | small random acts of kindness that will benefit us all.
            #policy.policy
                h2.heading-secondary.ma-bt-lg(id='/#policy') Our Policy
                h3 Introduction
                p
                    | These Website Standard Terms and Conditions written on this webpage
                    | shall manage your use of our website, jemmatours.com accessible at
                    | www.jemmatours.com.
                p
                    | These Terms will be applied fully and affect to your use of this
                    | Website. By using this Website, you agreed to accept all terms and
                    | conditions written in here. You must not use this Website if you
                    | disagree with any of these Website Standard Terms and Conditions.
                    | These Terms and Conditions have been generated with the help of the
                    a(href='https://www.termsandcondiitionssample.com') Terms And Conditiions Sample Generator
                    | .
                p
                    | Minors or people below 18 years old are not allowed to use this
                    | Website.
                h3 Intellectual Property Rights
                p
                    | Other than the content you own, under these Terms, Jemma Tours
                    | and/or its licensors own all the intellectual property rights and
                    | materials contained in this Website.
                p
                    | You are granted limited license only for purposes of viewing the
                    | material contained on this Website.
                h3 Restrictions
                p You are specifically restricted from all of the following:
                ul
                    li publishing any Website material in any other media;
                    li
                        | selling, sublicensing and/or otherwise commercializing any Website
                        | material;
                    li publicly performing and/or showing any Website material;
                    li
                        | using this Website in any way that is or may be damaging to this
                        | Website;
                    li
                        | using this Website in any way that impacts user access to this
                        | Website;
                    li
                        | using this Website contrary to applicable laws and regulations, or
                        | in any way may cause harm to the Website, or to any person or
                        | business entity;
                    li
                        | engaging in any data mining, data harvesting, data extracting or
                        | any other similar activity in relation to this Website;
                    li
                        | using this Website to engage in any advertising or marketing.
                p
                    | Certain areas of this Website are restricted from being access by
                    | you and Jemma Tours may further restrict access by you to any areas
                    | of this Website, at any time, in absolute discretion. Any user ID
                    | and password you may have for this Website are confidential and you
                    | must maintain confidentiality as well.
                h3 Your Content
                p
                    | In these Website Standard Terms and Conditions, &quot;Your Content&quot; shall
                    | mean any audio, video text, images or other material you choose to
                    | display on this Website. By displaying Your Content, you grant Jemma
                    | Tours a non-exclusive, worldwide irrevocable, sub licensable license
                    | to use, reproduce, adapt, publish, translate and distribute it in
                    | any and all media.
                p
                    | Your Content must be your own and must not be invading any
                    | third-party&rsquo;s rights. Jemma Tours reserves the right to remove any
                    | of Your Content from this Website at any time without notice.
                h3 Your Privacy
                p Please read Privacy Policy.
                h3 No warranties
                p
                    | This Website is provided &quot;as is,&quot; with all faults, and Jemma Tours
                    | express no representations or warranties, of any kind related to
                    | this Website or the materials contained on this Website. Also,
                    | nothing contained on this Website shall be interpreted as advising
                    | you.
                h3 Limitation of liability
                p
                    | In no event shall Jemma Tours, nor any of its officers, directors
                    | and employees, shall be held liable for anything arising out of or
                    | in any way connected with your use of this Website whether such
                    | liability is under contract. &nbsp;Jemma Tours, including its officers,
                    | directors and employees shall not be held liable for any indirect,
                    | consequential or special liability arising out of or in any way
                    | related to your use of this Website.
                h3 Indemnification
                p
                    | You hereby indemnify to the fullest extent Jemma Tours from and
                    | against any and/or all liabilities, costs, demands, causes of
                    | action, damages and expenses arising in any way related to your
                    | breach of any of the provisions of these Terms.
                h3 Severability
                p
                    | If any provision of these Terms is found to be invalid under any
                    | applicable law, such provisions shall be deleted without affecting
                    | the remaining provisions herein.
                h3 Variation of Terms
                p
                    | Jemma Tours is permitted to revise these Terms at any time as it
                    | sees fit, and by using this Website you are expected to review these
                    | Terms on a regular basis.
                h3 Assignment
                p
                    | The Jemma Tours is allowed to assign, transfer, and subcontract its
                    | rights and/or obligations under these Terms without any
                    | notification. However, you are not allowed to assign, transfer, or
                    | subcontract any of your rights and/or obligations under these Terms.
                h3 Entire Agreement
                p
                    | These Terms constitute the entire agreement between Jemma Tours and
                    | you in relation to your use of this Website, and supersede all prior
                    | agreements and understandings.
                h3 Governing Law &amp; Jurisdiction
                p
                    | These Terms will be governed by and interpreted in accordance with
                    | the laws of the State of af, and you submit to the non-exclusive
                    | jurisdiction of the state and federal courts located in af for the
                    | resolution of any disputes.
            section.section-cta
                .cta
                    .cta__content
                        h3.heading-secondary Ready for an adventure?
                        a.btn.btn--green.span-all-rows(href='/overview/login') see Tours